{% extends 'layout.html' %}
{% block body %}
    <div id="adminWrapper" style="width: 60%; margin: 0 auto; text-align: center;">
        <ul class="collection" style="">
            <li class="collection-item"><a href="{{ url_for("add_product") }}">Add Product</a></li>
            <li class="collection-item"><a href="{{ url_for("admin_list_products") }}">Manage Products</a></li>
            <li class="collection-item"><a href="{{ url_for("manage_categories") }}">Manage Categories</a></li>
            <li class="collection-item"><a href="{{ url_for("list_customers") }}">All Customers</a></li>
            <li class="collection-item"><a href="{{ url_for("list_reports") }}">Reports</a></li>
        </ul>
    </div>
{% endblock %}