{% extends "layout.html" %}
{% block body %}
    <div id="cartWrapper" style="width: 100%; margin: 0 auto; text-align: center;">
        <div class="row">
            <div class="col s7" id="cart-items">
                <ul class="collection" style="">
                    {% for item in cart %}
                        <li class="collection-item avatar" style="">
                            <a href="{{ url_for('view_product', sku=item.sku) }}"><img
                                    src="{{ url_for('product_picture',sku=item.sku) }}" class="circle" width="50px"></a>

                            <span class="title"><a
                                    href="{{ url_for('view_product', sku=item.sku) }}">{{ item.name }}</a></span>
                            <p>
                                {% if item.description %}
                                    {{ item.description }}<br>
                                {% endif %}
                            </p>
                            <div class="row">
                                <div class="col s6 input-field">
                                    <form method="get" action="{{ url_for("update_cart", pid=item.sku) }}"
                                          id="quantityBox">
                                        <input id="quantityInput" min='1' type="number" name="quantity"
                                               value="{{ item.quantity }}">
                                    </form>

                                    <a class="waves-effect waves-light btn"
                                       href="{{ url_for('delete_from_cart', pid=item.sku) }}">Remove</a>
                                    <a class="waves-effect waves-light btn" href id="updateButton"
                                       onclick="updateQuantity()">Update</a>
                                </div>
                            </div>

                            <span class="secondary-content">{{ item.price }} caps: {{ item.total }} Total</span>
                        </li>

                    {% endfor %}
                </ul>
            </div>

            <div class="col s3" id="sidebar">
                <div id="order-summary">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Order Summary</span>
                            <table class="highlight" id="totals">
                                <tr style="border-top: 1px solid black">
                                    <td>Total:</td>
                                    <td id="total" class="right-align" style="font-weight: bold"></td>
                                    <td>{{ subtotal }} caps</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for("checkout") }}" class="waves-effect waves-light btn">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function updateQuantity() {
            console.log('Updating quantity()');
            $('#quantityBox').submit();
        }
        function updateSidbarSize() {
            var new_width = $('#sidebar').width();
            $('#order-summary').width(new_width);

        }

        $(document).ready(function () {

            // Setup pushpin sidebar
            var $this = $(this);
            var $target = $('#order-summary');
            $target.pushpin({
                top: $target.offset().top,
                bottom: $("#cart-items").offset().bottom
            });

            $(window).resize(function () {
                updateSidbarSize();
            });

            updateSidbarSize();
        });
    </script>
{% endblock %}
