{% extends "layout.html" %}
{% block body %}
    {% for item in cart %}
        <div class="row">
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image">
                        <a href="{{ url_for('view_product', sku=item.sku) }}"><img
                                src="{{ url_for('product_picture',sku=item.sku) }}" width="50px"></a>
                    </div>
                    <span class="card-title"><a href="{{ url_for('view_product', sku=item.sku) }}">{{ item.name }}</a></span>
                    <div class="card-stacked">
                        <div class="card-content">
                            <ul class="collection">
                                {% if item.description %}
                                    <li class="collection-item">{{ item.description }}</li>
                                {% endif %}
                                <li class="collection-item">Quantity:
                                    <form method="get" action="{{ url_for("update_cart", pid=item.sku) }}">
                                        <input min='1' type="number" name="quantity" value="{{ item.quantity }}">
                                        <input type="submit" value="Update">
                                    </form>

                                </li>
                                <li class="collection-item"><i class="material-icons right">stars</i>{{ item.price }}
                                    caps
                                </li>

                                <li class="collection-item">Total Caps: {{ item.total }}</li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('delete_from_cart', pid=item.sku) }}">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col s12">
            <div class="card center-align">
                <div class="card-content">
                    Total: {{ subtotal }} caps
                </div>
                <div class="card-action">
                    <a href="{{ url_for("checkout") }}">Checkout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
