{% extends 'layout.html' %}
{% block body %}
    <p>{{ errormsg }}</p>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <form action="{{ url_for("edit_account") }}" method="post" id="registerForm">
                    <div class="card-content">
                        <input type="hidden" name="user_id" value="{{ data.id }}">
                        <span class="card-title"><i class="material-icons">fingerprint</i>Edit {{ data.name }}</span>
                        <div class="input-field">
                            <input type="text" class="validate" id="address" name="address" size="50" maxlength="200"
                                   value="{{ data['address'] }}"
                                   required>
                            <label for="address">Shipping Address</label>
                        </div>
                        <div class="input-field">
                            <input type="text" class="validate" id="faction" name="faction"
                                   value="{{ data['faction'] }}">
                            <label for="faction">Faction</label>
                        </div>
                        <div class="input-field">
                            <select multiple name="mutations" id="mutations">
                                <option value="" disabled selected>Select your mutations</option>
                                {% for mutation in mutations %}
                                    {% if mutation.name != 'Robot' %}
                                        <option value="{{ mutation.id }}" {{ 'selected="selected"' if mutation.id in user_mutations }}>{{ mutation.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="mutations">Mutations</label>
                        </div>
                        <p>
                            <input type="checkbox" value="robot" name="robot"
                                   id="robotCheck" {{ 'checked="checked"' if 1 in user_mutations }}>
                            <label for="robotCheck">I am a Robot</label>
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn" href="#" id="submitButton">Edit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("submitButton").onclick = function () {
            document.getElementById("registerForm").submit();
        };

        $(document).ready(function () {
            $('select').material_select();
        });

    </script>
{% endblock %}
