<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuclear Winners</title>

    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <style>
        body {
            background-color: lightgrey;
        }
        nav {
            background-color: #0C833D;
        }
    </style>
</head>
<body>
<div class="page">
    <nav>
        <div class="nav-wrapper">
            {% if not session.logged_in %}
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="{{ url_for('views.login') }}"><i class="material-icons right">fingerprint</i>Log In</a>
                    </li>
                </ul>
            {% else %}
                <div class="row">
                    <div class="col s5">
                        <form method="get" action="{{ url_for("view_products") }}" id="makeSearch">
                            <div class="input-field">
                                <input type="text" placeholder="Search for products" name="search" value="{{ search }}">
                            </div>
                        </form>
                    </div>
                    <div class="col s2">
                        <ul>
                            <li><a href="#" id="searchButton"><i class="material-icons right">search</i>Search</a></li>
                        </ul>
                    </div>
                    <div class="col s5">
                        <ul class="right">
                            <li><a href="{{ url_for('views.view_account') }}"><i class="material-icons right">accessibility</i> {{ session.user_name }}
                            </a></li>
                            <li><a href="{{ url_for('views.logout') }}"><i class="material-icons right">fingerprint</i>Log
                                Out</a></li>
                            <li><a href="{{ url_for('views.cart') }}"><i class="material-icons right">shopping-cart</i>Cart</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="header">

    </div>

    <div class="content" style="clear: both">
        <div class="flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        {% block body %}{% endblock %}
    </div>
</div>

<script>
    document.getElementById("searchButton").onclick = function () {
        document.getElementById("makeSearch").submit();
    };
</script>
</body>
</html>