<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuclear Winners</title>
</head>
<body>
<div class="page">
    <div class="header">
        {% if not session.logged_in %}
            <a href="{{ url_for('views.login') }}">log in</a>
        {% else %}
            <a href="{{ url_for('views.logout') }}">log out</a>
        {% endif %}
    </div>

    <div class="content">
        <div class="flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>