<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuclear Winners</title>
</head>
<body>
<div class="page">
    <div class="header">
        {% if not session.logged_in %}
            <div style='float:right'>
                <a href="{{ url_for('views.login') }}">log in</a>
            </div>
        {% else %}
            <div style='float:right'>
                <a href="{{ url_for('views.view_account') }}">{{ session.user_name }}</a>
                <a href="{{ url_for('views.logout') }}">log out</a>
                <a href="{{ url_for('views.cart') }}">cart</a>
            </div>
        {% endif %}
    </div>
    {% block body %}{% endblock %}
</div>
</body>
</html>