{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="card">
            <div class="card-content">
                <table class="highlight">
                    <tr>
                        <td> ShipmentID</td>
                        <td> Status</td>
                        <td> Shipment Method</td>
                        <td> Payment Method</td>
                        <td> Shipment Status</td>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td> {{ order.shipmentID }} </td>
                            <td> {{ order.status }} </td>
                            <td> {{ order.methodName }} </td>
                            <td> {{ order.name }} </td>
                            <td> {{ order.status }} </td>
                            <td colspan=3>
                                <table>
                                    <tr>
                                        <td> Product Name</td>
                                        <td> Quantity</td>
                                        <td> Total Price</td>
                                    </tr>
                                    {% for product in order.products %}
                                        <tr>
                                            <td> {{ product.name }} </td>
                                            <td> {{ product.quantity }} </td>
                                            <td> {{ product.total }} </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td> Subtotal:</td>
                                        <td></td>
                                        <td> {{ order.total }} </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}