{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="col s9" id="order-content">
            <form id="my_form" method="post" action="{{ url_for("place_order") }}">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Cart</span>
                        <table class="highlight striped">
                            <tr>
                                <th>Name</th>
                                <th>Weight (kg)</th>
                                <th>Price (caps)</th>
                                <th>Quantity</th>
                                <th>Total (caps)</th>
                            </tr>
                            {% for item in cart %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.weight }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.subtotal }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>{{ total_weight }}</td>
                                <td class="right-align">Total:</td>
                                <td> {{ total }}</td>
                            </tr>
                        </table>
                        {% if not cart %}
                            You have nothing in your cart
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Payment Method</span>
                        <table>
                            {% for method in payment %}
                                <tr>
                                    <td>
                                        <input class="with-gap" type="radio" name="paymentMethod"
                                               value="{{ method.methodID }}" id="{{ method.methodID }}p">
                                        <label for="{{ method.methodID }}p">{{ method.name }}</label>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Shipping Method</span>
                        <table>

                            {% for method in shipping %}
                                <tr>
                                    <td>
                                        <input class="with-gap" name="shippingMethod" type="radio"
                                               id="{{ method.methodID }}s" value="{{ method.methodID }}"
                                               onclick="updateTotals()"/>
                                        <label for="{{ method.methodID }}s">{{ method.methodName }}</label>
                                    </td>
                                    <td>
                                        {{ method.price if method.price > 0 else "Free!" }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s3" id="sidebar">
            <div id="order-summary">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Order Summary</span>
                        <table class="highlight" id="totals">
                            <tr>
                                <td>Cart Subtotal:</td>
                                <td class="right-align">{{ total }}</td>
                                <td>caps</td>
                            </tr>
                            <tr style="border-top: 1px solid black">
                                <td>Tax:</td>
                                <td id="tax" class="right-align"></td>
                                <td>caps</td>
                            </tr>
                            <tr style="border-top: 1px solid black">
                                <td>Shipping:</td>
                                <td id="shippingTotal" class="right-align"></td>
                                <td>caps</td>
                            </tr>
                            <tr style="border-top: 1px solid black">
                                <td>Total:</td>
                                <td id="total" class="right-align" style="font-weight: bold"></td>
                                <td>caps</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-action">
                        <a id="checkout-button" class="waves-effect waves-light btn" href="javascript:{}"
                           onclick="document.getElementById('my_form').submit();" style="display: block;">Place
                            Order</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        var tax = {{ tax }};
        var cartTotal = {{ total }};

        var shippingMethods =
            {
                {% for method in shipping %}
                    "{{ method.methodID }}": {{ method.price }},
                {% endfor %}
            };


        function updateTotals() {
            var shippingPrice = 0;
            var hasShippingSelected = $("input[name='shippingMethod']:checked").length > 0;
            var hasPaymentSelected = $("input[name='paymentMethod']:checked").length > 0;
            if (hasShippingSelected) {
                shippingPrice = shippingMethods[$("input[name='shippingMethod']:checked").val()];
            }
            document.getElementById("shippingTotal").innerHTML = shippingPrice;
            var taxprice = Math.round(cartTotal * tax);
            document.getElementById("tax").innerHTML = taxprice;
            document.getElementById("total").innerHTML = (cartTotal + shippingPrice + taxprice);

            if (hasPaymentSelected && hasShippingSelected) {
                $('#checkout-button').removeClass("disabled")
            } else {
                $('#checkout-button').addClass("disabled")
            }

        }

        function updateSidbarSize() {
            var new_width = $('#sidebar').width();
            $('#order-summary').width(new_width);

        }

        $(document).ready(function () {
            $('input[type=radio][name=shippingMethod]').change(function () {
                updateTotals();
            });

            // Setup pushpin sidebar
            var $this = $(this);
            var $target = $('#order-summary');
            $target.pushpin({
                top: $target.offset().top,
                bottom: $("#order-content").offset().bottom
            });

            $(window).resize(function () {
                updateSidbarSize();
            });

            updateSidbarSize()
            updateTotals();

        });
    </script>
{% endblock %}