{% extends 'layout.html' %}
{% block body %}

    <div class="row">
        {% for item in products %}
        <div class="col s2">
            <div class="card center-align">
                <div class="card-image">
                    <a href="{{ url_for('view_product', sku=item.sku) }}"><img src="{{ url_for('product_picture',sku=item.sku) }}" width="50"></a>
                </div>
                <span class="card-title"><a class="center-align" style="display: block;" href="{{ url_for('view_product', sku=item.sku) }}">{{ item.name }}</a></span>

                <div class="card-content">
                    <a href="{{ url_for('view_product', sku=item.sku) }}" style="display:block; color: #000000;">
                    <p>
                        {{ item.description }}<br>
                    </p>
                    <p class="left-align">
                        <i class="material-icons left">stars</i>{{ item.price }} caps
                    </p>
                    </a>
                </div>
                <div class="card-action green darken-4">
                    <a style="display: block;" href="{{ url_for('add_to_cart', pid = item.sku) }}" id="addToCart">
                        <i class="material-icons">add</i>Add to Cart</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}