{% extends "layout.html" %}
{% block body %}
    <div class="col s6 m6 l6">
        <div class="card horizontal center-align" style="height: 100%; align-content: center;">
            <div class="card-image">
                <img src="{{ url_for("product_picture", sku=product.sku) }}"
                     style="height: 100%; align-content: center;"/>
            </div>
            <div class="card-stacked">
                <span class="card-title">{{ product.name }}</span>
                <div class="card-content">
                    <table>
                        <tr>
                            <td>{% if product.inventory  and product.inventory > 0 %}
                                <i class="material-icons left">check_circle</i>{{ product.inventory }} in
                                stock!{% else %}Out of
                                stock!{% endif %}</td>
                            <td><i class="material-icons left">stars</i>{{ product.price }} caps</td>

                            <td><i class="material-icons left">schedule</i>{{ product.weight }} kg</td>
                        </tr>
                        <tr>
                            <td>{{ product.description }}</td>
                        </tr>
                    </table>
                    {% if product.inventory > 0 %}
                        <form id="add_to_cart_form" method="get" action="{{ url_for("add_to_cart", pid=product.sku) }}">
                        <div class="input-field inline">
                            <label for="quantity">Quantity:</label>
                            <input title="quantity" type="number" value="1" min="1" max="{{ product.inventory }}"
                                   name="quantity">
                        </div>
                    {% endif %}
                    </form>
                </div>
                <div class="card-action">
                    {% if product.inventory > 0 %}
                        <a href="javascript:{}" id="addToCart" class="waves-effect waves-light btn"
                           onclick="document.getElementById('add_to_cart_form').submit(); return false;"><i
                                class="material-icons">add</i>Add to Cart</a>
                    {% else %}
                        <a href="#" id="addToCart" class="waves-effect waves-light btn disabled">Out of Stock</a>
                    {% endif %}
                    {% if session.user_admin %}
                        <a class="waves-effect waves-light btn" href="{{ url_for('edit_product', sku=product.sku) }}">Edit</a>
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}