{% extends "layout.html" %}
{% block body %}
    <div class="col s6 m6 l6">
        <div class="card horizontal center-align" style="height: 100%; align-content: center;">
            <div class="card-image">
                <img src="/product/{{ product.sku }}/image.jpg" style="height: 100%; align-content: center;"/>
            </div>
            <div class="card-stacked">
            <span class="card-title">{{ product.name }}</span>
                <div class="card-content">
                    <table>
                        <tr>
                            <td>{% if product.inventory  and product.inventory > 0 %}<i class="material-icons left">check_circle</i>{{ product.inventory }} in
                                stock!{% else %}Out of
                                stock!{% endif %}</td>
                            <td><i class="material-icons left">stars</i>{{ product.price }} caps</td>

                            <td><i class="material-icons left">schedule</i>{{ product.weight }} kg</td>
                        </tr>
                        <tr>
                            <td>{{ product.description }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-action">
                    <a href="#" id="addToCart"><i class="material-icons">add</i> Add to Cart</a>
                    {% if session.user_admin %}
                        <a href="{{ url_for('edit_product', sku=product.sku) }}">Edit</a><br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}