<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body><p>{{ errormsg }}</p>
<form action="/user/register" method="post">
Enter Name:<input type="text" name="name" size="100" value="{{ data['name'] }}"><br>
Enter Username:<input type="text" name="username" size="50" value="{{ data['username'] }}"><br>
Confirm Username:<input type="text" name="confirmusername" size="50" value="{{ data['confirmusername'] }}"><br>
Enter Password:<input type="password" name="password" size="50" value="{{ data['password'] }}"><br>
Confirm Password:<input type="password" name="confirmpassword" size="50" value="{{ data['confirmpassword'] }}"><br>
Enter Address:<input type="text" name="address" size="200" value="{{ data['address'] }}"><br>
I am not a robot:<input type="checkbox" name="notrobot"><br>
<input type="submit">
</form>
</body>
</html>