{% extends "layout.html" %}
{% block body %}
<p>Shipment ID: {{ id }}   User: {{ data['user'] }}   Total Value: {{ sum }}</p>
    <table border="1">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    {%  for order in data %}
        <tr>
            <td>{{ order['sku'] }}</td>
            <td>{{ order['name'] }}</td>
            <td>{{ order['quantity'] }}</td>
            <td>{{ order['total'] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}